* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Kurale', 'sans-serif';
  font-size: 16px;
  font-weight: 200;
}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('KaiseiDecol-Medium.eot');
  src: local('Kaisei Decol Medium'), local('KaiseiDecol-Medium'),
      url('./assets/fonts/KaiseiDecol-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('KaiseiDecol-Regular.eot');
  src: local('Kaisei Decol Regular'), local('KaiseiDecol-Regular'),
      url('./assets/fonts/KaiseiDecol-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurale';
  src: url('Kurale-Regular.eot');
  src: local('Kurale Regular'), local('Kurale-Regular'),
      url('./assets/fonts/Kurale-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



