:root {
  --border-color: rgb(137, 134, 128);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Kurale', 'sans-serif';
  font-size: 16px;
  font-weight: 200;

  scrollbar-width: thin;
  scrollbar-color: #ffffff #bebebe;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 7px;
  border: 3px solid #ffffff;
}

body {
  overflow-y: scroll;
}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('KaiseiDecol-Medium.eot');
  src: local('Kaisei Decol Medium'), local('KaiseiDecol-Medium'),
      url('./assets/fonts/KaiseiDecol-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('KaiseiDecol-Regular.eot');
  src: local('Kaisei Decol Regular'), local('KaiseiDecol-Regular'),
      url('./assets/fonts/KaiseiDecol-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kurale';
  src: url('Kurale-Regular.eot');
  src: local('Kurale Regular'), local('Kurale-Regular'),
      url('./assets/fonts/Kurale-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



