.event-block {
  width: 30%;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(179, 179, 179, 0.476) ;
  margin-bottom: 40px;
}

.event-block:hover {
  border: none;
  /* box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15); */
  
  box-shadow: 0px 1px 5px 0px rgba(134, 134, 134, 0.5); 
  border-bottom: none;
}

.event-block__header {
  width: 100%;
  height: 150px;
  position: relative;

  border-radius: 4px 4px 0 0;
}

.event-block__main {
  padding: 8px 17px 17px 17px;
}

.event-block__deadline {
  margin-bottom: 20px;
}

.link-standard {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position: relative;

	padding: 5px 20px;
	border-radius: 5px;
  border: none;
  background-color: rgb(84, 84, 212);
  color: azure;

  cursor: pointer;
}

.link-standard:hover {
  
}

.link-standard-delete {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  position: relative;

	padding: 5px 20px;
	border-radius: 5px;
  border: none;
  background-color: rgb(212, 122, 84);
  color: azure;

  cursor: pointer;

  margin-top: 10px;
}