.event-block {
  width: 30%;
  position: relative;
  /* background-color: bisque; */
  /* box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.476) ;

  user-select: none;
  cursor: pointer;
}

.event-block:hover {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-bottom: none;
  /* box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25); */
}

.event-block__header {
  width: 100%;
  height: 150px;
  background-image: url('../../../../assets/img/cat1.jpg');
  /* background-clip: border-box; */
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 4px 4px 0 0;
}

.event-block__main {
  padding: 8px 17px 17px 17px;
}