.block-collection {
  text-decoration: none;
  color: black;
  
  width: 30%;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
  
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px;

  top: 0;
  transition: top 500ms;
}

.block-collection:hover {
  position: relative;
  top: -10px;
}

.block-collection_h {
  margin: 10px 0;
  text-align: center;
}