.main-container {
  max-width: 1080px;
  width: 80vw;
  margin: 0 auto;

  /* display: flex;
  flex-direction: column; */
}

.search-collect {
  border: 1px solid black;

  width: 50%;
  height: 50px;
  padding: 5px 20px;

  border-radius: 7px;

  font-size: 1.1rem;
  outline: #fff solid 1px !important;
  transition-property: outline-color;
  transition-duration: .5s;
}

.search-collect:hover {
  outline-color: rgb(143, 59, 59);
}

.search-collect:focus {
  outline-color: rgb(143, 59, 59);
}

.collection-img {
  width: 70%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;

  border-radius: 4px 4px 0 0;
  margin-bottom: 30px;
  /* max-height: 20vh; */
}

.title-collection {
  text-align: center;
  font-size: 20px;

}