.event-title{
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(93, 92, 92, 0.5);
  background-color: rgb(248, 244, 240);
  margin-bottom: 30px;

  cursor: pointer;
  user-select: none;
}