.container-reg {
  position: relative;
  width: 45%;
  max-width: 660px;
  min-width: 360px;

  padding: 0 7%;

  margin: 4% auto;

  border-radius: 10px;
  background-color: rgb(252, 233, 216);
  box-shadow: 0 0 1px rgba(93, 92, 92, 1);
}

.title {
  font-size: 20px;
  padding: 20px 40px;

  border-radius: inherit;
  background-color: white;
  box-shadow: 0 0 2px rgba(93, 92, 92, 0.5);
}

.main-block-reg {
  position: relative;
  padding: 40px 0 50px;
  /* width: 55%; */
  margin: 0 auto;
}

.main-block-reg__form {
  display: flex;
  height: 530px;
  /* gap: 20px; */
  flex-direction: column;
  justify-content: space-between;
}

.input-reg:not(:last-child) {
  margin-bottom: 20px; 
}

.link-login {
  margin-top: 7px;
  display: block;
  /* width: 100%; */
  font-size: 12px;
  text-align: center;
}