.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;;

  justify-content: space-between;

  /* gap: 75px; */
}

.event-title{
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(93, 92, 92, 0.5);
  margin-bottom: 30px;
}

.event-block {
  width: 27%;
  position: relative;
  background-color: bisque;
  border-radius: 4px;
}

.event-block__header {
  width: 100%;
  height: 150px;
  background-image: url('../../../../assets/img/cat1.jpg');
  /* background-clip: border-box; */
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 4px 4px 0 0;
}

.event-block__main {
  padding: 8px 17px 17px 17px;
}