.events-container {
    max-width: 1080px;
    width: 80vw;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
}

.c-form{
    position: relative;
    max-width: 600px;
    /* width: 100%; */
    margin: 0 auto;
  }
  
  .search {
    border: 1px solid black;
  
    width: 100%;
    height: 50px;
    padding: 5px 20px;
  
    border-radius: 7px;
  
    font-size: 1.1rem;
    outline: #fff solid 1px !important;
    transition-property: outline-color;
    transition-duration: .5s;
  }