.container {
  width: 40%;
  height: 300px;

  margin: 0 auto;

  border-radius: 10px;
  box-shadow: 0 0 1px rgba(93, 92, 92, 1);
}

.title {
  font-size: 20px;
  padding: 20px 40px;

  border-radius: inherit;
  box-shadow: 0 0 2px rgba(93, 92, 92, 0.5);
}

.main {
  padding: 20px 40px;
}