.title-e{
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(93, 92, 92, 0.5);
  background-color: rgba(84, 84, 212, 1);
  color: rgb(255, 255, 255);
  margin-bottom: 30px;

  text-align: center;
}

.event-img {
  /* width: 100%; */
  height: 450px;
  background-image: url('../../assets/img/cat1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;

  border-radius: 4px 4px 0 0;
  margin-bottom: 30px;
}

.event-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.data {
  display: block;
  /* width: 60%; */
  padding: 2% 3%;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);

  margin-bottom: 10px;
}

.data__h {
  margin-bottom: 20px;
}

.data__list {
  /* padding: 0 20px; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-container__registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
  padding: 2% 3%;
  width: 30%;
}