.create-event-form {
  width: 50%;
  min-width: 468px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 1px solid var(--border-color);
  border-radius: 7px;

  padding: 0  0 50px;
}

.create-event-title {
  font-size: 20px;
  text-align: center;

  margin-bottom: 20px;
}

.create-event-img {
  width: 100%;
  height: 25vw;
  max-height: 350px;
  display: flex;
  text-align: center;
  justify-content: center;

  border-radius: 4px 4px 0 0;
  /* margin-bottom: 30px; */
}

.create-event-form-container {
  width: 70%;

  gap: 30px;

  display: flex;
  flex-direction: column;
}

.create-event-time-inputs {
  display: flex;
  gap: 20px;
}

.select-block {
	position: relative;
	width: 100%;
	border: 1px solid rgba(10, 10, 10, 30%);
	/* border-right: none; */
	border-radius: 7px;
	background: #FFF;
	padding: 5px 20px 5px 20px;
}

.select {
	border: none;
  width: 100%;
	border-radius: 7px;
	font-family: 'Times New Roman', Times;
}
