.main-container {
	max-width: 1080px;
	width: 80vw;
	margin: 0 auto;

	/* display: flex;
	flex-direction: column; */
}

.input-city {
	text-align: end;
	padding: 0 0 20px 0;
  /* cursor: pointer; */
  /* user-select: none; */
}

.section {
	margin-bottom: 40px;
}