.profile-main-block {
  display: grid;
  grid-template-columns: 20% 80%;

  margin-bottom: 40px;
}

.photo-profile {

}

.profile-main-block__content {
  margin-bottom: 20px;
}

.profile-main-block_h {
  margin-bottom: 30px;
}

.profile-input-block {
  width: 60%;
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid rgb(137, 134, 128);

  margin-bottom: 10px;
}

.profile-input-block__data {
  margin-left: 20px;
}

.profile-btns {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.btn-exit {
  margin-top: 30px;
  width: 200px;
}