.main-container {
  max-width: 1080px;
  width: 80vw;
  margin: 0 auto;

  /* display: flex;
  flex-direction: column; */
}

.search-collect {
  border: 1px solid black;

  width: 50%;
  height: 50px;
  padding: 5px 20px;

  border-radius: 7px;

  font-size: 1.1rem;
  outline: #fff solid 1px !important;
  transition-property: outline-color;
  transition-duration: .5s;
}

.search-collect:hover {
  outline-color: rgb(143, 59, 59);
}

.search-collect:focus {
  outline-color: rgb(143, 59, 59);
}


.collections-container {
  padding-top: 50px;
  
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}